:root {
    --accent: #dd4f45;
    --text-color: #0a3d68;
    --bg-bottom: rgb(227, 217, 195);
    --bg-top: rgb(207, 185, 155);
    --wave-top: #3E68BD;
    --wave-bottom: #77D4CA;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--bg-bottom);
    overflow: hidden;
}

body {
    font-family: "interstate", sans-serif;
    font-style: normal;
    text-align: center;
    height: 100%;
    font-weight: 400;
    color: var(--text-color);
    background: url(/assets/noise.png), linear-gradient(var(--bg-top), var(--bg-bottom));
}

h2, h3 {
    font-weight: 700;
}

#logo {
    width: 20vw;
    margin-top: 2vw;
    margin-bottom: 10vw;
}

button:hover {
    cursor: pointer;
}

button {
    border: none;
    letter-spacing: 0;
    text-transform: none;
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
    background-color: var(--accent);
    font-family: monospace;
    border-radius: 10px;
    margin-top: 0.5em;
}

#title {
    margin-top: -6vw;
    font-size: 5rem !important;
    font-family: "gelica", sans-serif;
    mix-blend-mode: multiply;
    font-weight: 700;
    font-style: normal;
}

label {
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--text-color);
}

i {
    color: var(--accent);
}

a {
    color: var(--accent);
    text-decoration: underline;
}

a:hover {
    color: var(--text-color);
}

#countdownTimer {
    margin: auto;
    width: 60%;
    margin-bottom: -3em;
    margin-top: -3em;
}

#time {
    font-size: 3rem;
    color: var(--accent);
    font-weight: 700;
}

#mainContent {
    z-index: 10;
    line-height: 0.5em;
    margin-bottom: 5vw;
}

#infoContainer {
    width: 60%;
    margin: auto;
    height: fit-content;
    margin-bottom: -3em;
}

.infoDiv h3 {
    font-size: 1.6rem;
}

.infoDiv a {
    font-size: 1.1rem;
}

.infoDiv {
    height: 10em;
    width: 47.5%;
    border-radius: 25px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.sponsorLogo {
    position: relative;
    top: 50%;
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
    width: 8vw;
    margin-left: 1em;
}

#sponsorContainer {
    margin-top: 20%;
}

.time-info {
    color: var(--text-color);
    font-size: 3rem;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    font-size: 1rem;
}

.wave {
    z-index: -10;
    width: 100%;
    animation: wave 4s infinite ease-in-out;
    margin-bottom: -5vw;
}

@keyframes wave {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -2%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@media only screen and (max-height: 900px) {
    body {
        overflow: auto;
    }

}

@media only screen and (max-width: 801px) {
    img {
        width: 60%;
    }

    .infoDiv h3 {
        font-size: 1.2rem;
    }

    label {
        font-size: 1rem;
    }

    .regular-color {
        font-size: 2rem;
    }

    #countdownTimer {
        margin: auto;
        width: 95%;
        margin-bottom: -3em;
        margin-top: -1.5em;
    }

    #time {
        font-size: 2rem;
    }

    #infoContainer {
        width: 95%;
        margin: auto;
    }

    .infoDiv {
        width: 100%;
        height: auto;
        border-radius: 25px;
    }

    .sponsorLogo {
        transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
    }

    #sponsorContainer {
        margin-top: 5%;
    }

    .left {
        float: none;
    }

    .right {
        float: none;
    }

    #logo {
        width: 30vw;
    }

    .sponsorLogo {
        width: 20vw;
    }
}